@model IEnumerable<BET_ecommerce_website.Models.ShoppingCartModel>

@{
    ViewBag.Title = "ViewShoppingCart";
}

<br/>

<h2 style="font-size:30px; color:blue;">Shopping Cart (R @ViewBag.TotalPrice)</h2>

<br />

<a onclick="checkOut()" class="btn btn-primary  btn-lg">Check Out</a>

<br />
<br />

<div class="jumbotron">
    <b>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.productName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.productName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>

                </tr>
            }

        </table>
    </b>
  </div>
